# JetBrains
.idea/

# Byte-compiled / optimized / DLL files
__pycache__/

# Distribution / packaging
venv/
*.egg-info/
build/
dist/

# Unit test / coverage reports
.tox/
.pytest_cache/
.coverage
htmlcov/

# Sphinx documentation
docs/build/
docs/source/_static/
docs/source/_templates/

# Django databases
db.sqlite3

# Project files
# Add specific project files to be ignored here
